<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="main.css">
</head>
<body>
<div style="text-align:center">
    <h2>AuthentiFi</h2>
    <h3>Create Retailer</h3>
</div>
<div class="container">
  <form name="myForm" method="POST" action="http://192.168.43.63:8080/createRetailer">
    <div class="row">
      <div class="col-25">
        <label>Retailer Name</label>
      </div>
      <div class="col-75">
        <input type="text" name="retailerName" placeholder="Calden">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label>Retailer Email</label>
      </div>
      <div class="col-75">
        <input type="text" name="retailerEmail" placeholder="caldenrodrigues1202@gmail.com">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label>Retailer Location</label>
      </div>
      <div class="col-75">
        <input type="text" name="retailerLocation" placeholder="Mumbai">
      </div>
    </div>
    <div class="row">
      <input type="submit" name="submit" value="Submit">
    </div>
  </form>
</div>
</body>
</html>
