<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="qrcode.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
</head

<body>

    <input id="text" type="text" value="https://hogangnono.com" style="width:80%" /><br />
    <div id="qrcode"></div>

<script type="text/javascript" src="javascripts/qrcode.min.js">
var qrcode = new QRCode(document.getElementById("qrcode"), "http://google.com");
</script>

</body>
</html>
